<div class="bodygroup ">
 
  <div class="container flex-enable">
  <div >
    <i  class="left" (click)="scrollLeft()"></i>
  </div>
  <div #widgetsContent class="bodysecondgroup" style="margin:0px">
    <div class="col-md-4 well" *ngFor="let item of items">
      <div class="card card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          <app-item></app-item>
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div >
    <i class="right" (click)="scrollRight()"></i>
  </div>
</div>
</div>